@font-face {
  font-family: 'univers_bqregular';
  font-weight: 400;
  font-style: normal;
  src: local('Univers'), url('Univers BQ Regular.otf') format('opentype');
}
@font-face {
  font-family: 'univers_bqregular';
  font-weight: 500;
  font-style: normal;
  src: local('Univers'), url('Univers BQ Regular.otf') format('opentype');
}
@font-face {
  font-family: 'univers_bqregular';
  font-weight: 600;
  font-style: normal;
  src: local('Univers'), url('Univers BQ Regular.otf') format('opentype');
}
